@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    --color-primary: #a9abab;
    --color-secondary: #474747;
    --color-primaryBackground: #000000;
    --color-correct: #1dfeb3;
    --color-wrong: #ef4444;
    --color-cursor: #ffffff;
  }
  html[data-theme="pink"] {
    --color-primary: #f763b2;
    --color-secondary: #6b325a;
    --color-primaryBackground: #141017;
    --color-correct: #f763b2;
    --color-wrong: #ef4444;
    --color-cursor: #ffffff;
  }
  html[data-theme="cyan"] {
    --color-primary: #23f7df;
    --color-secondary: #269e98;
    --color-primaryBackground: #282f40;
    --color-correct: #23f7df;
    --color-wrong: #ef4444;
    --color-cursor: #ffffff;
  }
  html[data-theme="darkcyan"] {
    --color-primary: #40c5da;
    --color-secondary: #b0aeae;
    --color-primaryBackground: #2b4348;
    --color-correct: #40c5da;
    --color-wrong: #ef4444;
    --color-cursor: #ffffff;
  }
  html[data-theme="green"] {
    --color-primary: #435c53;
    --color-secondary: #59756b;
    --color-primaryBackground: #80d6ab;
    --color-correct: #ffa600;
    --color-wrong: #ef4444;
    --color-cursor: #ffffff;
  }
  html[data-theme="skyblue"] {
    --color-primary: #73c5e8;
    --color-secondary: #88b0c2;
    --color-primaryBackground: #bcebff;
    --color-correct: #00b3ff;
    --color-wrong: #ef4444;
    --color-cursor: #ffffff;
  }
}
html {
  font-family: Consolas, monaco, monospace;
}
@keyframes blink {
  0% {
    background-color: transparent;
  }
  50% {
    background-color: rgba(255, 255, 255, 0.5);
  }
  100% {
    background-color: transparent;
  }
}

.blinking-cursor {
  animation: blink 1s infinite;
}
@keyframes slideIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.slide-in {
  animation: slideIn 0.6s linear forwards;
}
:root {
  --shadow: #eee;
  --scrollbarBG: #eeeeee;
  --thumbBG: #2241cf;
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
  box-shadow: 0 -100vh 0 100vh var(--shadow), 0 0 15px 5px black;
}
